.card {
    display: grid;
    background-color: white;
    border: 1px solid black;
    height: 28vh;
    width: 80vw;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.title {
    display: flex;
    justify-content: space-between;
}

.body {
    display: flex;
}

.imagen img {
    height: 60%;
    width: auto;
}

.irrelevantInfo {
    display: flex;
    border: 1px solid black;
    margin-top: 5px;
    margin-left: 5px;
    height: 5vh;
    width: 50vw;
    justify-content: space-between;
}
