.display {
    display: inline-flexbox;
    position: relative;
}

.pages {
    height: 10%;
    width: 20%;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
    left: 40%;
}

.cardContainer {
    display: inline-block;
}