.searchOptions {
    justify-content: space-around;
    margin-top: 8px;
    padding: 5px;
    gap: 30px;
}

.pages {
    margin-top: 5px;
    margin-bottom: 5px;
}

.sortOptions {
    width: 50vw;
    justify-content: space-evenly;
}

.formSortType {
    width: 30vw;
}

.formSortOrient {
    width: 15vw;
}